
   <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
    <a class="p-1 rounded" href="#simple-list-item-1" (click)="cambiarTitle()">Ques es Angular</a>
    <a class="p-1 rounded" href="#simple-list-item-2" (click)="cambiarTitle1()">Configuración</a>
    <a class="p-1 rounded" href="#simple-list-item-3" (click)="cambiarTitle2()">Intoduccion</a>
    <a class="p-1 rounded" href="#simple-list-item-4" (click)="cambiarTitle3()">Plantillas</a>
    <a class="p-1 rounded" href="#simple-list-item-5" (click)="cambiarTitle4()">Descripción General</a>
  </div>
