<nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
    <a class="navbar-brand" href="#">
    <img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_angular_icon_130754.png" width="50" alt="">
    Apendiendo Angular
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav me-5">
        <li class="nav-item me-4">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sliderback</a>
        </li>
      </ul>
    </div>
  </nav>