<div class="row">
  <div class="col-9 p-5">
    <div
      data-bs-spy="scroll"
      data-bs-target="#simple-list-example"
      data-bs-offset="0"
      data-bs-smooth-scroll="true"
      class="scrollspy-example text-center"
      tabindex="0"
    >
      <div id="simple-list-item-1" class="bg-danger">
        <h4>{{ title }}</h4>
        <p class="text-left">{{ detalle }}</p>
      </div>

      <div id="simple-list-item-2" class="bg-primary">
        <h4>{{ title1 }}</h4>
        <p class="text-left">{{ detalle1 }}</p>
      </div>

      <div id="simple-list-item-3">
        <h4>{{ title2 }}</h4>
        <p class="text-left">{{ detalle2 }}</p>
      </div>

      <div id="simple-list-item-4">
        <h4>{{ title3 }}</h4>
        <p class="text-left">{{ detalle3 }}</p>
      </div>

      <div id="simple-list-item-5">
        <h4>{{ title4 }}</h4>
        <p class="text-left">{{ detalle4 }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 bg-secondary p-5" style="height: 550px;">
    <app-lateral
      (cambioTitle)="title = $event"
      (cambioDetalle)="detalle = $event"
      (cambioTitle1)="title = $event"
      (cambioDetalle1)="detalle = $event"
      (cambioTitle2)="title = $event"
      (cambioDetalle2)="detalle = $event"
      (cambioTitle3)="title = $event"
      (cambioDetalle3)="detalle = $event"
      (cambioTitle4)="title = $event"
      (cambioDetalle4)="detalle = $event"
    ></app-lateral>
  </div>
</div>
